@model MvcAEI.Models.Contact

@{
    ViewData["Title"] = "Présentation JE";
}

<div class="backPresentationJE">
    <div class="nousSommesUneJE">
        <p class="titreNousSommesUneJE">Nous sommes une Junior-Entreprise</p>
        <p>Une Junior-Entreprise est une association à vocation économique et pédagogique, à but non lucratif. Implémentée dans un établissement d’enseignement supérieur, elle vise à valoriser l’enseignement suivi par les étudiants en leur proposant de réaliser des études diversifiées pour différentes entreprises.</p>
    </div>
        <img src="/images/logoJE.png" class="logoJE">
</div>

<!--logoJE.png-->