 

<div class="backPresentationJE">

    <div class="nousSommesUneJE">
        <p class="titreNousSommesUneJE">Nous sommes une Junior-Entreprise</p>
        <p>Une Junior-Entreprise est une association à vocation économique et pédagogique, à but non lucratif. Implémentée dans un établissement d’enseignement supérieur, elle vise à valoriser l’enseignement suivi par les étudiants en leur proposant de réaliser des études diversifiées pour différentes entreprises.</p>
    </div>

    <div class="row d-flex justify-content-between mt-3">
        <div class="form-group col-md-3">
            <img src="/images/logoJE.png" class="logoJE">
        </div>
        <div class="form-group col-md-4">
            <p class="titreDetailsJE">
                <i class="bi bi-chat-dots-fill iconJE"></i>
                Une réflexion jeune et dynamique
            </p>
            <p>Nos réalisateurs sont tous des étudiants, leur façon de penser est jeune et innovante. Ainsi, ils sauront donner une nouvelle dimension à vos projets.</p>
            <p class="titreDetailsJE">
                <i class="bi bi-mortarboard-fill iconJE"></i>
                Participer à la formation de vos futurs collaborateurs
            </p>
            <p>En confiant vos projets à des Junior-Entreprises, vous contribuez à augmenter les compétences de futurs salariés, et pourquoi pas de vos futurs employés !
            </p>
        </div>
        <div class="form-group col-md-4">
            <p class="titreDetailsJE">
                <i class="bi bi-lock-fill iconJE"></i></i>
                Un encadrement réglementé
            </p>
            <p>Le statut de Junior-Entreprise est encadré par la Confédération Nationale des Junior-Entreprises. À travers un audit annuel, celle-ci s’assure de la qualité des services offerts aux clients.</p>
            <p class="titreDetailsJE">
                <i class="bi bi-people-fill iconJE"></i>
                Un réseau soudé
            </p>
            <p>Grâce aux JEB, nous possédons un réseau étendu et coopératif. <br> [BLABLA]
            </p>
        </div>
    </div>

</div>

<!--logoJE.png-->