@model MvcAEI.Models.Membre

@{
    ViewData["Title"] = "Supression d'un Membre";
}

<div class="backSupprimerMembe">
    <!-- Titre de la page -->
    <h1 class="mb-4" style="color:#0C2764; text-align:center; font-weight:bold;">Suppression du membre @Html.DisplayFor(model => model.Prenom) @Html.DisplayFor(model => model.Nom)</h1>

    <div class="text-center" style="margin-bottom: 11em;">
        <p class="text-danger">@ViewData["ErrorMessage"]</p>
        <p>Etes vous sûr de vouloir supprimer ce membre?</p>

        <div class="row">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="form-actions no-color">
                    <!-- Bouton de suppression -->
                    <input type="submit" value="Suppprimer" class="btn btn-danger" />
                </div>
            }
        </div>
    </div>

    <div class="mt-5 pt-5 ml-5">
        <!-- Bouton de retour à la page précédente -->
        <a class="text-decoration-none" asp-action="IndexAdmin"><i
            class="bi bi-arrow-left-circle-fill"></i> Retour à
            la page précédente</a>
    </div>

</div>
