@model MvcAEI.Models.Article

@{
    ViewData["Title"] = "Ajouter un article";
}

<div class="backCreerMandat">
    <!-- Titre de la page -->
    <h1 class="mb-4" style="color:#0C2764; text-align:center; font-weight:bold;">Ajouter un article</h1>
    <form asp-action="Creer">
        <!-- Zone d'affichage des erreurs de validation -->
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row justify-content-center" style="text-align:center;">
            <!-- Label et champ de saisie pour le titre -->
            <label asp-for="Titre" class="control-label"></label>
            <div class="col-sm-5">
                <input asp-for="Titre" class="form-control" />
                <!-- Affichage des messages d'erreur de validation pour le titre -->
                <span asp-validation-for="Titre" class="text-danger"></span>
            </div>
        </div>
        <!-- Répétition des blocs similaires pour les autres propriétés de l'article -->
        <div class="form-group row justify-content-center" style="text-align:center;">
            <label asp-for="Description" class="control-label"></label>
            <div class="col-sm-5">
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row justify-content-center" style="text-align:center;">
            <label asp-for="Image" class="control-label"></label>
            <div class="col-sm-5">
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row justify-content-center" style="text-align:center;">
            <label asp-for="Date" class="control-label"></label>
            <div class="col-sm-5">
                <input type="date" asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row justify-content-center" style="text-align:center;">
            <label asp-for="Editeur" class="control-label"></label>
            <div class="col-sm-5">
                <input asp-for="Editeur" class="form-control" />
                <span asp-validation-for="Editeur" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group text-center mt-4">
            <input type="submit" value="Ajouter" class="btn btn-primary" />
        </div>
    </form>
    <div class="mt-5 pt-5 ml-5">
        <!-- Lien pour revenir à la liste des articles -->
        <a class="text-decoration-none" asp-action="IndexAdmin"><i
                class="bi bi-arrow-left-circle-fill"></i> Retour à
            la liste des articles</a>
    </div>
</div>


@section Scripts {
<!-- Inclusion des scripts de validation -->
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}