@model MvcAEI.Models.Article

@{
    ViewData["Title"] = "Supression d'un article";
}

<div class="supprimerMandat">
    <h1 class="mb-4" style="color:#0C2764; text-align:center; font-weight:bold;">Suppression de l'article @Html.DisplayFor(model => model.Titre) </h1>
    <div class="container">
        <p class="text-danger">@ViewData["ErrorMessage"]</p>
        <p class="text-center pb-3">Etes vous sûr de vouloir supprimer cet article ?</p>
        <div class="text-center mb-5">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Supprimer" class="btn btn-danger" />
                </div>
            }
        </div>
        <div class="mt-5 pt-5">
            <a class="text-decoration-none" asp-action="IndexAdmin"><i
                    class="bi bi-arrow-left-circle-fill"></i> Retour à
                la liste des articles</a>
        </div>
    </div>
</div>
