@{
    ViewData["Title"] = "Home Page";
}

<div class="back">
    <img src="https://enseirb-matmeca.bordeaux-inp.fr/sites/default/files/styles/image_droite/public/upload/page-edito/enseirb_matmeca/img/enseirb_matmeca.jpg?itok=TnlRzZ4-"
        style="width:100%">
    <div class="text">
        <p class="big">Aquitaine Electronique Informatique</p>
        <p>Dynamisme &emsp; Qualité &emsp; Engagement</p>
    </div>

    <div class="buttons">
        <div class="d-flex justify-content-around">
            <a href="#" class="buttonAccueil" role="button" aria-pressed="true">Nous contacter</a>
            <a href="#" class="buttonAccueil" role="button" aria-pressed="true">Notre
                plaquette</a>
        </div>
    </div>

    <div class="fondBleuCiel border-top border-dark border-1">
        <div class="text2">
            <p><span style="color:#3369E7">Quelques </span>chiffres...</p>
            <hr class="hrBleu">
        </div>
    </div>

    <div class="chiffres">
        <div class="row mt-3">
            <div class="col pastille">
                <p class="align-items-end">+1200 étudiants ingénieurs</p>
            </div>
            <div class="col pastille">
                <p>Nb de partenaires / entreprises</p>
            </div>
            <div class="col pastille">
                <p>35 ans d'experience</p>
            </div>
        </div>
    </div>

    <div class="nosCompetences border-top border-dark border-1">
        <div class="text2">
            <p><span style="color:white">Nos </span>compétences</p>
            <hr class="hrBlanc">
        </div>
    </div>


</div>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
