@{
    ViewData["Title"] = "Home Page";
}

<div class="back">
    <img src="https://enseirb-matmeca.bordeaux-inp.fr/sites/default/files/styles/image_droite/public/upload/page-edito/enseirb_matmeca/img/enseirb_matmeca.jpg?itok=TnlRzZ4-"
        style="width:100%">
    <div class="cadre">
        <p class="big">Aquitaine Electronique Informatique</p>
        <p>Dynamisme &emsp; Qualité &emsp; Engagement</p>
    </div>

    <div class="buttons">
        <div class="d-flex justify-content-around">
            <a href="#" class="buttonAccueil" role="button" aria-pressed="true">Nous contacter</a>
            <a href="#" class="buttonAccueil" role="button" aria-pressed="true">Notre
                plaquette</a>
        </div>
    </div>
</div>

<div class="fondBleuCiel border-top border-dark border-1">
    <div class="text2">
        <p><span style="color:#3369E7">Quelques </span>chiffres...</p>
        <hr class="hrBleu">
    </div>
</div>

<div class="chiffres">
    <div class="row mt-3">
        <div class="col pastille">
            <p class="align-items-end">+1200 étudiants ingénieurs</p>
        </div>
        <div class="col pastille">
            <p>Nb de partenaires / entreprises</p>
        </div>
        <div class="col pastille">
            <p>35 ans d'experience</p>
        </div>
    </div>
</div>

<div class="nosCompetences border-top border-dark border-1">
    <div class="text2">
        <p><span style="color:white">Nos </span>compétences</p>
        <hr class="hrBlanc">
    </div>
</div>



<div id="carouselControls1" class="carousel slide carou" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="container">
                <div class="row">
                    <div class="col-4">
                        <div class="cadre1">
                            <img src="https://cdn-icons-png.flaticon.com/512/1221/1221614.png" class="logoDescription">
                            <p>Développement</p>
                            <p class="description1">Grâce à sa filière spécialisée en Informatique,
                                l’ENSEIRB-MATMECA forme des ingénieurs compétents en développement (sites web,
                                logiciels, base de données, …)</p>
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="cadre3">
                            <p class="description2">Exemples d’études, chiffres liés</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container">
                <div class="row">
                    <div class="col-4">
                        <div class="cadre2">
                            <img src="https://cdn-icons-png.flaticon.com/512/149/149181.png" class="logoDescription">
                            <p>Calcul et analyse du numérique</p>
                            <p class="description1">Nos futurs ingénieurs en Mathématiques & Mécanique seront aptes
                                à résoudre un
                                problème de calcul haute performance ou de simulation numérique.</p>
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="cadre3">
                            <p class="description2">Exemples d’études, chiffres liés</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container">
                <div class="row">
                    <div class="col-4">
                        <div class="cadre1">
                            <img src="https://cdn-icons-png.flaticon.com/512/634/634938.png" class="logoDescription">
                            <p>Électronique et Robotique</p>
                            <p class="description1">Micro-contrôleur, robot autonome, carte électronique, … Voilà un
                                ensemble de domaines qui n’a pas de secret pour nos élèves en Électronique.
                                Confiez-leur vos projets sans hésiter.
                            </p>
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="cadre3">
                            <p class="description2">Exemples d’études, chiffres liés</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container">
                <div class="row">
                    <div class="col-4">
                        <div class="cadre2">
                            <img src="https://cdn-icons-png.flaticon.com/512/1011/1011309.png?w=360"
                                class="logoDescription">
                            <p>Télécommunications</p>
                            <p class="description1">Nos élèves-ingénieurs en Télécommunications ont une parfaite
                                maîtrise des domaines des réseaux, du traitement du signal et de l’image.</p>
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="cadre3">
                            <p class="description2">Exemples d’études, chiffres liés</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselControls1" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselControls1" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="barreBleue">
    <a href="#" class="enSavoirPlus" role="button" aria-pressed="true">En savoir plus</a>
</div>

<div class="text3">
    <p><span style="color:#3369E7">Ils nous ont fait </span>confiance...</p>
    <hr class="hrBleu">
</div>

<div id="carouselControls2" class="carousel slide carou2" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="container">
                <div class="row d-flex align-items-center logosConfiance">
                    <div class="col-3">
                        <div>
                            <img src="https://upload.wikimedia.org/wikipedia/fr/thumb/e/ea/Mcdonalds_France_2009_logo.svg/853px-Mcdonalds_France_2009_logo.svg.png"
                                class="logoConfiance">
                        </div>
                    </div>
                    <div class="col-3">
                        <div>
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/85/Burger_King_logo_%281999%29.svg/2024px-Burger_King_logo_%281999%29.svg.png"
                                class="logoConfiance">
                        </div>
                    </div>
                    <div class="col-3">
                        <div>
                            <img src="https://www.pngplay.com/wp-content/uploads/9/KFC-Logo-PNG-Free-File-Download.png"
                                class="logoConfiance">
                        </div>
                    </div>
                    <div class="col-3">
                        <div>
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3e/Domino%27s_pizza_logo.svg/2036px-Domino%27s_pizza_logo.svg.png"
                                class="logoConfiance">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container">
                <div class="row d-flex align-items-center logosConfiance">
                    <div class="col-3">
                        <div>
                            <img src="https://play-lh.googleusercontent.com/9J22CNSvSu3DB2zSu1lAMBudDZiWYRFuF4NPquRA7Y7Vc425FC7e07wWmuWskozq1M0"
                                class="logoConfiance">
                        </div>
                    </div>
                    <div class="col-3">
                        <div>
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/68/Logo_Buffalo_Grill.png/800px-Logo_Buffalo_Grill.png"
                                class="logoConfiance">
                        </div>
                    </div>
                    <div class="col-3">
                        <div>
                            <img src="https://www.business-directory.fr/wp-content/uploads/2022/12/logo-starbucks-coffee.png"
                                class="logoConfiance">
                        </div>
                    </div>
                    <div class="col-3">
                        <div>
                            <img src="https://upload.wikimedia.org/wikipedia/fr/thumb/c/c9/Otacos_logo.svg/1200px-Otacos_logo.svg.png"
                                class="logoConfiance">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselControls2" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselControls2" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="actualites">
    <img src="/images/actualites.png" class="imageActualites">
    <div class="text4">
        <p><span style="color:white">Nos </span>Actualités</p>
        <hr class="hrBleu">
    </div>
    <div class="row lesActualites">
        <div class="col-4">
            <div class="cadre4">
                <img src="https://junior-aei.com/images/Image_temoignage_Jeremie_STOETENS.png" class="imageActualites2">
                <div class="descriptionActualites">
                    <p class="titreActualites">Témoignage d'un réalisateur</p>
                    <p class="resumeActualites">Témoignage d'un réalisateur d'AEI</p>
                    <a href="#" class="lireLaSuite" role="button" aria-pressed="true">Lire la suite</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="cadre4">
                <img src="https://junior-aei.com/images/Image_temoignage_Jeremie_STOETENS.png" class="imageActualites2">
                <div class="descriptionActualites">
                    <p class="titreActualites">Témoignage d'un réalisateur</p>
                    <p class="resumeActualites">Témoignage d'un réalisateur d'AEI</p>
                    <a href="#" class="lireLaSuite" role="button" aria-pressed="true">Lire la suite</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="cadre4">
                <img src="https://junior-aei.com/images/Image_temoignage_Jeremie_STOETENS.png" class="imageActualites2">
                <div class="descriptionActualites">
                    <p class="titreActualites">Témoignage d'un réalisateur</p>
                    <p class="resumeActualites">Témoignage d'un réalisateur d'AEI</p>
                    <a href="#" class="lireLaSuite" role="button" aria-pressed="true">Lire la suite</a>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="tousNosArticles" role="button" aria-pressed="true">Voir tous nos articles</a>
</div>

<img src="/images/equipe.jpg" class="imageEquipe">
<a href="#" class="nousContacter" role="button" aria-pressed="true">Nous contacter</a>
