@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<div style="height: 718px; text-align:center">
<h1 style="padding-top:10vw; color:red; font-weight:bold;">Vous ne pouvez pas vous créer de compte</h1>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
