html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}


body {
  margin-bottom: 60px;
  background-color : #CBD9F9;
  height: 250vw;
}

.back {
  display: inline-block;
  position: relative;
  width : 100%;
}

.back .cadre {
  background: #0C2764;
  opacity: 80%;
  font-size: 2vw;
  z-index: 1;
  position:absolute;
  text-align: center;
  font-family: Georgia;
  margin: auto;
  padding: 1vw;
  left: 0;
  right: 0;
  top: 13vw;
  color: white;
  width: 65%;
}

.back .buttons {
  z-index: 1;
  position:absolute;
  text-align: center;
  font-family: Georgia;
  margin-left: 3vw;
  margin: auto;
  left: 0;
  right: 0;
  top: 30vw;
  color: white;
  width: 60%;
}

.buttonAccueil {
  border: none;
  background-color: #0C2764;
  text-decoration: none;
  color: white;
  width: 45%;
  font-size: 2vw;
  padding: 1vw;
}

.big {
  font-size: 3vw;
}

.fondBleuCiel {
  background: #CBD9F9;
  z-index: 1;
  position:absolute;
  text-align: center;
  font-family: Georgia;
  margin: auto;
  padding: 2vw;
  left: 0;
  right: 0;
  top: 40vw;
  height: 30vw;
}

.text2 {
  color: black;
  font-size: 3vw;
  line-height: 60%;
}

.hrBleu{
  background-color: #3369E7;
  opacity: 80%;
  margin:auto;
  width: 40vw;
}

hr:not([size]) {
  height: 2px;
}

.chiffres {
  z-index: 1;
  position:absolute;
  text-align: center;
  font-family: Georgia;
  margin: auto;
  left: 0;
  right: 0;
  top: 47vw;
  width: 75%;
}

.pastille {
  border-radius: 15%;
  background:white;
  color: #3369E7;
  font-size: 2vw;
  padding: 1vw;
  margin-left: 4vw;
  margin-right: 4vw;
}

.nosCompetences{
  background: #4472c4;
  font-size: 2vw;
  z-index: 1;
  position:absolute;
  text-align: center;
  font-family: Georgia;
  margin: auto;
  padding: 1vw;
  left: 0;
  right: 0;
  top: 66vw;
}

.hrBlanc{
  background-color: white;
  opacity: 100%;
  margin:auto;
  width: 40vw;
}

.carou {
  position:absolute;
  top: 75vw;
  width: 100%;
}

.cadre1 {
  position: relative;
  background: #3369E7;
  font-size: 2vw;
  z-index: 1;
  text-align: center;
  font-family: Georgia;
  color: white;
  width: 80%;
  height: 30vw;
  margin-bottom: 5vw;
  margin-left: 8vw;
  padding: 1vw;
}

.cadre2 {
  position: relative;
  background: #0C2764;
  font-size: 2vw;
  z-index: 1;
  text-align: center;
  font-family: Georgia;
  color: white;
  width: 80%;
  height: 30vw;
  margin-bottom: 5vw;
  margin-left: 8vw;
  padding: 1vw;
  bottom: 0;
}

.cadre3 {
  background: #4472c4;
  font-size: 1vw;
  z-index: 1;
  text-align: center;
  font-family: Georgia;
  color: white;
  width: 80%;
  height: 25vw;
  margin-top: 2vw;
  margin-bottom: 5vw;
  margin-left: 5vw;
}

.logoDescription {
  width:40%;
}

.description1 {
  font-size: 1vw;
  padding : 2vw;
  position: absolute;
  bottom: 0;
}

.description2 {
  font-size: 1vw;
  padding-top: 25%;
  position: relative;
  bottom: 0;
}

.barreBleue {
  background: #4472c4;
  font-size: 2vw;
  z-index: 1;
  position:absolute;
  text-align: center;
  font-family: Georgia;
  left: 0;
  right: 0;
  top: 107vw;
}

.enSavoirPlus {
  display: inline-block;
  background-color: #0C2764;
  text-decoration: none;
  color: white;
  width: 15%;
  font-size: 1vw;
  padding: 1vw;
  left: 0;
  right: 0;
  margin: 1vw;
}

.text3 {
  font-size: 3vw;
  z-index: 1;
  position:absolute;
  text-align: center;
  font-family: Georgia;
  padding: 1vw;
  left: 0;
  right: 0;
  top: 115vw;
  line-height: 60%;
}

.carou2 {
  position:absolute;
  top: 115vw;
  width: 100%;
}

.logosConfiance {
  margin: 10vw;
}

.logoConfiance {
  width: 12vw;
}

.actualites {
  top:79vw;
  position: relative;
}

.imageActualites {
  position: absolute;
  width: 100%;
}

.text4 {
  color:#3369E7;
  font-size: 3vw;
  z-index: 1;
  position:absolute;
  text-align: center;
  font-family: Georgia;
  padding: 1vw;
  left: 0;
  right: 0;
  top: 1vw;
  line-height: 60%;
}

.cadre4 {
  background: white;
  font-size: 2vw;
  text-align: center;
  font-family: Georgia;
  width: 24vw;
  z-index: 1;
  position:absolute;
  top: 10vw;  
  margin: 0;
  border-radius: 15% 0%;
  padding: 2vw;
  height: 30vw;
}

.lesActualites {
  padding-left: 6vw;
  padding-right: 6vw;
}

.imageActualites2 {
  width: 20vw;
  border-radius: 15% 0% 0% 0%;
}

.descriptionActualites {
  color : black;
  font-size: 1vw;
  text-align: left;
  position: absolute;
  bottom: 0;
}

.titreActualites {
  font-weight: bold;
}

.resumeActualites {
  margin-bottom: 0%;
}

.lireLaSuite {
  display: inline-block;
  background-color: #0C2764;
  text-decoration: none;
  color: white;
  font-size: 1vw;
  padding: 1vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
  left: 0;
}

.tousNosArticles {
  position: absolute;
  top:47vw;
  background-color: #3369E7;
  text-align: center;
  text-decoration: none;
  color: white;
  width: 30%;
  padding: 1vw;
  margin: auto;
  left: 0;
  right: 0;
}

.imageEquipe {
  top : 135vw;
  position: relative;
  width: 100%;
}

.nousContacter {
  position: absolute;
  top:213vw;
  background-color: #0C2764;
  text-align: center;
  text-decoration: none;
  color: white;
  width: 18%;
  padding: 1vw;
  margin: auto;
  left: 0;
  right: 0;
}