html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}


body {
  background-color : #CBD9F9;
  font-family: 'Inter', sans-serif; 
}

.back {
  display: inline-block;
  position: relative;
}

.cadre {
  background: #0C2764;
  opacity: 80%;
  font-size: 2vw;
  z-index: 1;
  position:absolute;
  text-align: center;
  margin: auto;
  padding: 1vw;
  left: 0;
  right: 0;
  top: 13vw;
  color: white;
  width: 65%;
}

.buttons {
  z-index: 1;
  position:absolute;
  text-align: center;
  margin-left: 3vw;
  margin: auto;
  left: 0;
  right: 0;
  top: 30vw;
  color: white;
  width: 60%;
}

.buttonAccueil {
  border: none;
  background-color: #0C2764;
  text-decoration: none;
  color: white;
  width: 45%;
  font-size: 2vw;
  padding: 1vw;
}

.big {
  font-size: 3vw;
}

.quelquesChiffres {
  background: #CBD9F9;
  z-index: 1;
  position:absolute;
  text-align: center;
  margin: auto;
  padding: 2vw;
  left: 0;
  right: 0;
  top: 40vw;
  height: 29vw;
}

.text2 {
  color: black;
  font-size: 3vw;
  line-height: 60%;
  text-align: center;
}

.hrBleu{
  background-color: #3369E7;
  opacity: 80%;
  margin:auto;
  width: 40vw;
}

hr:not([size]) {
  height: 2px;
}

.chiffres {
  z-index: 1;
  position:absolute;
  text-align: center;
  margin: auto;
  left: 0;
  right: 0;
  padding-top: 1vw;
  width: 75%;
}

.pastille {
  border-radius: 15%;
  background:white;
  color: #3369E7;
  font-size: 2vw;
  padding: 1vw;
  margin-left: 4vw;
  margin-right: 4vw;
}

.nosCompetences{
  height: 43vw;
}

.nosCompetencesTitre{
  background: #4472c4;
  font-size: 2vw;
  z-index: 1;
  position:absolute;
  text-align: center;
  margin: auto;
  padding-top: 1vw;
  left: 0;
  right: 0;
  height: 7vw;
}

.hrBlanc{
  background-color: white;
  opacity: 100%;
  margin:auto;
  width: 40vw;
}

.carou {
  position:absolute;
  width: 100%;
  padding-top: 9vw;
}

.cadre1 {
  position: relative;
  background: #3369E7;
  font-size: 2vw;
  z-index: 1;
  text-align: center;
  color: white;
  width: 80%;
  height: 30vw;
  margin-bottom: 5vw;
  margin-left: 8vw;
  padding: 1vw;
}

.cadre2 {
  position: relative;
  background: #0C2764;
  font-size: 2vw;
  z-index: 1;
  text-align: center;
  color: white;
  width: 80%;
  height: 30vw;
  margin-bottom: 5vw;
  margin-left: 8vw;
  padding: 1vw;
  bottom: 0;
}

.cadre3 {
  background: #4472c4;
  font-size: 1vw;
  z-index: 1;
  text-align: center;
  color: white;
  width: 80%;
  height: 25vw;
  margin-top: 2vw;
  margin-bottom: 5vw;
  margin-left: 5vw;
}

.logoDescription {
  width:40%;
  font-size: 7vw;;
}

.logoTelecommunicationRobotiqueAccueil {
  margin-top: -2vw;
}

.description1 {
  font-size: 1vw;
  padding : 2vw;
  position: absolute;
  bottom: 0;
}

.description2 {
  font-size: 1vw;
  padding-top: 25%;
  position: relative;
  bottom: 0;
}

.barreBleue {
  background: #4472c4;
  font-size: 2vw;
  position:absolute;
  text-align: center;
  left: 0;
  right: 0;
  margin-top: 42vw;
}

.enSavoirPlus {
  display: inline-block;
  background-color: #0C2764;
  text-decoration: none;
  color: white;
  width: 15%;
  font-size: 1vw;
  padding: 1vw;
  left: 0;
  right: 0;
  margin: 1vw;
}

.confiance{
  height: 37vw ;
}

.text3 {
  font-size: 3vw;
  z-index: 1;
  position:absolute;
  text-align: center;
  padding: 1vw;
  left: 0;
  right: 0;
  margin-top: 7vw;
  margin-bottom: 2vw;;
  line-height: 60%;
}

.carou2 {
  position:absolute;
  margin-top: 7vw;
  width: 100%;
}

.logosConfiance {
  margin: 10vw;
}

.logoConfiance {
  width: 12vw;
}

.actualites {
  height: 35vw;
  position: relative;
}

.imageActualites {
  position: absolute;
  width: 100%;
}

.text4 {
  color:#3369E7;
  font-size: 3vw;
  z-index: 1;
  position:absolute;
  text-align: center;
  padding: 1vw;
  left: 0;
  right: 0;
  margin-top: 1vw;
  line-height: 60%;
}

.cadre4 {
  background: white;
  font-size: 2vw;
  text-align: center;
  width: 24vw;
  z-index: 1;
  position:absolute;
  top: 10vw;  
  margin: 0;
  border-radius: 15% 0%;
  padding: 2vw;
  height: 30vw;
}

.lesActualites {
  padding-left: 6vw;
  padding-right: 6vw;
}

.imageActualites2 {
  width: 20vw;
  border-radius: 15% 0% 0% 0%;
}

.descriptionActualites {
  color : black;
  font-size: 1vw;
  text-align: left;
  position: absolute;
  bottom: 0;
}

.titreActualites {
  font-weight: bold;
}

.resumeActualites {
  margin-bottom: 0%;
}

.lireLaSuite {
  display: inline-block;
  background-color: #0C2764;
  text-decoration: none;
  color: white;
  font-size: 1vw;
  padding: 1vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
  left: 0;
  border-radius: 4px;
}

.tousNosArticles {
  position: absolute;
  top: 43vw;
  background-color: #3369E7;
  text-align: center;
  text-decoration: none;
  color: white;
  width: 30%;
  padding: 1vw;
  margin: auto;
  left: 0;
  right: 0;
  font-size: 2vw;
}

.imageEquipe {
  position: relative;
  width: 100%;
}

.contacter{
  margin-top: 20vw;
}

.nousContacter {
  position: absolute;
  background-color: #0C2764;
  text-align: center;
  text-decoration: none;
  color: white;
  width: 18%;
  padding: 1vw;
  margin: auto;
  margin-top: 12vw;
  left: 0;
  right: 0;
  font-size: 2vw;
}

.backContact{
  padding-top: 9vh;
  background-color: #3369E7;
}

.titreContact {
  color:black;
  font-size: 2vw;
  z-index: 1;
  position:absolute;
  text-align: center;
  padding: 1vw;
  left: 0;
  right: 0;
  line-height: 60%;
}

.formulaireContact{
  margin-top: 5vw;
  padding-bottom: 2vw;
  color:black;
  justify-items: center;
}

::placeholder {
  text-align: center;
}

.champMessage{
  height: 20vw;
}

.boutonFormulaire{
  background-color:#0C2764;
  color: white;
  margin-left: 40vw;
}

.detailsContact{
  margin-top: 5vw;
  margin-left: 13vw;
  color: white;
}

.detailsContactTitre{
  font-size: 2vw; 
  margin-bottom: -1px;
}

.descriptionDetailsContact{
  font-weight: 200;
}

.contacts{
  margin-top: 3vw;
  font-weight: 200;
}

.detailsContactInformations{
  margin-bottom: 2px;
}

.backPresentationJE{
  background-color: white;
  padding-top: 11vh;
  padding: 4vw;
}

.nousSommesUneJE{
  margin-top: 40px;
  margin-bottom: 4vw;
}

.titreNousSommesUneJE{
  color: #3369E7;
  font-size:larger;
  font-weight: bold;
}

.logoJE{
  height: 20vw;
  width: 23vw;
}

.titreDetailsJE{
  color: #3369E7;
  font-weight: bold;
}

.iconJE {
  margin-left: -2vw;
  color: black;
  padding-right: 1vw;
}

.backMentionsLegales
{
  height: 13vw;
  background-color: #0C2764;
}

.boutonReseauSocial{
  color: white;
  font-size: 4vw;
  margin-left: 3vw;
  margin-right: 3vw;
  margin-top: 3vw;
}

.backNosCompetences {
  background-color: white;
  /* A supprimer : */
  padding-bottom: 5em;
}

.fondTitreNosCompetences {
  background-color:#4472c4;
  padding: 1vw;
  margin-top: 3em;
}

.titreNosCompetences {
  font-size: 2vw;
  font-weight: 550;
  text-align: center;
  margin-bottom: 4px;
}

.hrBlancCompetences{
  background-color: white;
  opacity: 100%;
  margin:auto;
  width: 30vw;
}

.uneCompetences {
  width: 90%;
  background-color: #4472c4;
  margin-inline: auto;
  color: white;
  padding-bottom: 4vw;
  margin-bottom: 3vw;
}

.hautSectionCompetence {
  background-color: darkblue;  
  height: 14vw;
}

.titreRubriquesCompetences {
  font-size: 5vw;
  font-weight: 450;
  vertical-align: middle;
  text-align: end;
}

.iconCompetence {
  width: 13vw;
  vertical-align: middle;
  font-size: 9vw;
  margin-right: 6vw;
}


.detailsCompetence {
  text-align: center;
}

.descriptionCollapseCompetence {
  text-align: center;
  background-color: #4472c4;
  color: white;
}

.titreDescriptionCollapseCompetence {
  font-weight: 600;
}

.collapseCompetence{
  border: 0;
  border-radius: 0%;
  border-color: #4472c4;
}

.collapse {
  display: none;
}

#collapse-container {
  position: relative;
}

#collapse-container .btn {
  position: absolute;
}

.bouttonCollapse {
  margin-top: -10px;
  margin-bottom: -10px;
}

.bouttonCollapse:focus{
  box-shadow:none
}

.imagesRubriquesCompetences {
  width: 90%;
  position: absolute;
}


.backEquipe {
  margin-top: 3.7em;
  margin-bottom: 8vw;
}

.titrePoleEquipe {
  color:#3369E7;
  font-size: 4vw;
  font-weight: 600;
  margin-bottom: 0;
  margin-left: 1vw;
}

.descriptionPoleEquipe {
  font-size: 1.9vw;
  font-weight: 400;
  margin-left: 1vw;
}

.hrNoir{
  background-color: black;
  opacity: 100%;
  width: 60vw;
  border:solid 2px;
  border-radius: 2vw;
  margin-left: 2vw;
  margin-top: 0;
  padding-top: 0;
}

.cadreMembre {
  width: 48%;
  margin-bottom: 2vw;
  margin-left: 1vw;
}

.photoMembre {
  width: 48%;
}

.descriptionMembre{
  left: 1vw;
  padding-left: 1vw;
  position: relative;
  background-color: #0C2764;
  width: 100%;
  color: white;
}

.nomMembreEquipe {
  font-size: 2.2vw;
  font-weight: 500;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.roleMembreEquipe {
  font-size: 1.8vw;
  font-weight: 400;
}

.motMembresEquipe{
  position:absolute;
  bottom: 0;
  font-size: 1.4vw;
}

.formulaireSelectionMandat {
  padding-left: 4vw;
  padding-top: 3vw;
}

.boutonFormulaireMandat {
  margin-top : -0.3vw;
}

.backActualités {
  margin-top: 5rem;
  padding-bottom: 4vw;
}

.backActualitésAdmin {
  margin-top: 3.7em;
  padding-bottom: 4vw;
}


.titrePageActualites {
  text-align: center;
  margin-bottom: 4vw;
}

.hrNoirTitreActualités {
  opacity: 100%;
  width: 30vw;
  border:solid 1px;
  border-radius: 2vw;
  margin:auto;
  margin-top: 1vw;
}

.imagesArticlePageActualites{
  width: 28vw;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.unArticlePageActualites {
  width: 410px;
  margin-bottom: 5em;
  height: 35vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.descriptionArticlePageActualites {
  padding-left: 2vw;
  padding-right: 2vw;
  width: 100%;
  text-align: center;
  align-items: flex-end;
}

.titreArticlePageActualites{
  font-size: 1.2em;
  font-weight: 645;
  margin-bottom: 0.5vw;
}

.lireLaSuite {
  background-color: #0C2764;
  text-decoration: none;
  color: white;
  width: 13vw;
  font-size: 1.5vw;
  text-align: center;
}

.backUneActualite {
  padding-top: 5em;
  padding-bottom: 5vw;
  padding-left: 20vw;
  padding-right: 20vw;
  background-color: white;
}

.titreArticlePageDetailActualite {
  color: #3369E7;
  text-align: center;
  font-size: 3vw;
}

.imagesArticlePageDetailsActualite{
  width: 60vw;
  margin: auto;
  padding: auto;
  display: flex;
  margin-bottom: 8vw;
}

.sousTitreArticlePageDetailActualite {
  text-align: center;
}

.selectMembres{
  background-color:rgba(0,0,0,0);
}

.titreParagrapheArticle {
  color: #3369E7;
  font-size: 3vw;

}

.texteParagrapheArticle {
  text-align: justify;
  white-space: pre-wrap;
}


.backMandatIndex {
  margin-top: 3.7em;
  margin-bottom: 5em;
}

.supprimerMandat {
  margin-top: 7em;
  margin-bottom: 7em;
  height: 40em;
}

.backModifierMandat {
  margin-top: 7em;
  height: 47em;
}

.backCreerMandat {
  margin-top: 7em;
  height: 49em;
}

.backMembreCreer {
  padding-top: 6em;
  padding-bottom: 4em;
  display: block;
}

.backSupprimerMembe {
  margin-top: 7em;
  height: 48em;
}

.backParagrapheIndex{
  margin-top: 3.7em;
}

.backUnContact {
  padding-top: 5em;
  padding-left: 10vw;
  padding-right: 10vw;
}

.titreContactPageDetailContact {
  color: #3369E7;
  text-align: center;
  margin-bottom: 2em;
}