@{
    ViewData["Title"] = "Compétences";
}

 <div class="backNosCompetences">

    <div class="fondTitreNosCompetences">
        <p class="titreNosCompetences"><span style="color:white">Nos</span> Compétences</p>
        <hr class="hrBlancCompetences">
    </div>

    <div class="uneCompetences">
        <div class="hautSectionCompetence">
            <img src="/images/competences/developpement.jpg" class="imagesRubriquesCompetences">
            <div class="d-flex justify-content-between mt-3 px-5" style="position: relative;">
                <div>
                    <img src="images/computer.svg" class="iconCompetence">
                </div>
                <div>
                    <p class="titreRubriquesCompetences mt-4">DÉVELOPPEMENT</p>
                </div>
            </div>
        </div>
        <div class="detailsCompetence">
            <p class="px-5 pt-5">Grâce à sa filière spécialisée en Informatique, l’ENSEIRB-MATMECA forme des ingénieurs compétents en développement (sites web, logiciels, base de données, …)</p>
            <div class="d-flex justify-content-evenly">
                <p>&#149; Etude 1</p>
                <p>&#149; Etude 2</p>
                <p>&#149; Etude 3</p>
            </div>
            <div id="collapse-container">
                <div class="d-flex justify-content-center">
                    <button id="btn1" class="btn text-white bouttonCollapse" onclick="toggleCollapse('collapse-content1','btn1')">&#x2B9F;</button>
                    <div id="collapse-content1" class="collapse descriptionCollapseCompetence">
                        <p class="titreDescriptionCollapseCompetence">FORMAION</p>
                        <p>2 filières .... blablabla</p>
                        <p>Text à trouver pour bien décrire ce qu'on fait / a fait / et les plus à même de réaliser quelque chose de bien</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="uneCompetences">
        <div class="hautSectionCompetence">
            <img src="/images/competences/telecommunication.jpg" class="imagesRubriquesCompetences">
            <div class="d-flex justify-content-between mt-3 px-5" style="position: relative;">
                <div>
                    <i class="bi bi-wifi iconCompetence"></i>
                </div>
                <div>
                    <p class="titreRubriquesCompetences mt-4">TÉLÉCOMMUNICATION</p>
                </div>
            </div>
        </div>
        <div class="detailsCompetence">
            <p class="px-5 pt-5">Nos élèves-ingénieurs en Télécommunications ont une parfaite maîtrise des domaines des réseaux, du traitement du signal et de l’image.</p>
            <div class="d-flex justify-content-evenly">
                <p>&#149; Etude 1</p>
                <p>&#149; Etude 2</p>
                <p>&#149; Etude 3</p>
            </div>
            <div id="collapse-container">
                <div class="d-flex justify-content-center">
                    <button id="btn2" class="btn text-white bouttonCollapse" onclick="toggleCollapse('collapse-content2','btn2')">&#x2B9F;</button>
                    <div id="collapse-content2" class="collapse descriptionCollapseCompetence">
                        <p class="titreDescriptionCollapseCompetence">FORMAION</p>
                        <p>2 filières .... blablabla</p>
                        <p>Text à trouver pour bien décrire ce qu'on fait / a fait / et les plus à même de réaliser quelque chose de bien</p>
                    </div>
                </div>
            </div>
        </div>
        
    </div>


    <div class="uneCompetences">
        <div class="hautSectionCompetence">
            <img src="/images/competences/analyseNumerique.jpg" class="imagesRubriquesCompetences">
            <div class="d-flex justify-content-between mt-0 px-5" style="position: relative;">
                <div>
                    <img src="images/calculsEtAnalyseNumerique.svg" class="iconCompetence">
                </div>
                <div>
                    <p class="titreRubriquesCompetences">CALCUL &#38; ANALYSE NUMÉRIQUE</p>
                </div>
            </div>
        </div>
        <div class="detailsCompetence">
            <p class="px-5 pt-5">Nos futurs ingénieurs en Mathématiques & Mécanique seront aptes à résoudre un problème de calcul haute performance ou de simulation numérique.</p>
            <div class="d-flex justify-content-evenly">
                <p>&#149; Etude 1</p>
                <p>&#149; Etude 2</p>
                <p>&#149; Etude 3</p>
            </div>
            <div id="collapse-container">
                <div class="d-flex justify-content-center">
                    <button id="btn3" class="btn text-white bouttonCollapse" onclick="toggleCollapse('collapse-content3','btn3')">&#x2B9F;</button>
                    <div id="collapse-content3" class="collapse descriptionCollapseCompetence">
                        <p class="titreDescriptionCollapseCompetence">FORMAION</p>
                        <p>2 filières .... blablabla</p>
                        <p>Text à trouver pour bien décrire ce qu'on fait / a fait / et les plus à même de réaliser quelque chose de bien</p>
                    </div>
                </div>
            </div>
        </div> 
    </div>

    <div class="uneCompetences">
        <div class="hautSectionCompetence">
            <img src="/images/competences/electroniqueRobotique2.png" class="imagesRubriquesCompetences">
            <div class="d-flex justify-content-between px-5" style="position: relative;">
                <div>
                    <i class="bi bi-robot iconCompetence"></i>
                </div>
                <div>
                    <p class="titreRubriquesCompetences">ÉLECTRONIQUE &#38; ROBOTIQUE</p>
                </div>
            </div>
        </div>
        <div class="detailsCompetence">
            <p class="px-5 pt-5">Micro-contrôleur, robot autonome, carte électronique, … Voilà un ensemble de domaines qui n’a pas de secret pour nos élèves en Électronique. Confiez-leur vos projets sans hésiter.</p>
            <div class="d-flex justify-content-evenly">
                <p>&#149; Etude 1</p>
                <p>&#149; Etude 2</p>
                <p>&#149; Etude 3</p>
            </div>
            <div id="collapse-container">
                <div class="d-flex justify-content-center">
                    <button id="btn4" class="btn text-white bouttonCollapse" onclick="toggleCollapse('collapse-content4','btn4')">&#x2B9F;</button>
                    <div id="collapse-content4" class="collapse descriptionCollapseCompetence">
                        <p class="titreDescriptionCollapseCompetence">FORMAION</p>
                        <p>2 filières .... blablabla</p>
                        <p>Text à trouver pour bien décrire ce qu'on fait / a fait / et les plus à même de réaliser quelque chose de bien</p>
                    </div>
                </div>
            </div>
        </div> 
    </div>

 </div>